<div class="center-block form-group has-success">
  <!-- view -->
  <form id="form_post" class="form_post" action="/post" method="post">
    <select name="groupId">
    {{#each groupList}}
      <option value="{{this.id}}">{{this.name}}</option>
    {{/each}}
    {{groupList}}
    </select>
    <input type="number" id="budget_text" class="budget_text" name ="costText" pattern="^[0-9]+$" min="0" />
    <button type="submit" id="submit" class="submit btn btn-success btn-sm">
      <span class="glyphicon glyphicon-send"></span>&nbsp;登録
    </button>
    <div class="message"></div>
  </form>
</div>


<div class="container">
  <table id="budget" class="table">
    <thead>
      <tr>
        <th>日付</th>
        <th>区分</th>
        <th>金額</th>
        <th class="button_list">削除</th>
        <th class="button_list">編集</th>
      </tr>
    </thead>
    {{groupList}}: {{1}}

    <tbody class="budget_load">
      <tr>
        <td>
          {{#each costsList}}
            <p>
              <a href="detail/{{this.id}}">
                {{this.id}}
                -
                {{this.costText}}
                -
                {{this.groupId}}
              </a>
            </p>
          {{/each}}
        </td>
      </tr>
    </tbody>
  </table>
  <p><button class="all_delete btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span>&nbsp;一括削除</button></p>
</div>
